html {
    /* color: white; */
    font-family: 'Merienda', cursive;
}

body {
    margin: 0;
}

main::after {
    content: "";
    background: url('img/psychic-ability.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.25;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

h1, h2 {
    text-align: center;
}

h3 {
    margin-bottom: .75rem;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

#scoreboard td {
    padding: 0 1rem;
}

#no-guesses {
    margin-top: 2rem;
    text-align: center;
}

#past-guesses {
    display: none;
    flex-direction: column;
    align-items: center;
}

#guesses-list {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(3, 5rem);
    gap: 5px;
}

#guesses-list li {
    outline: 1px solid lightblue;
    list-style-position: inside;
    padding: .25rem;
    background-color: lightblue;
}

#guesses-list li::marker {
    font-size: .75rem;
}

#guesses-list span {
    margin-left: 1.25rem;
}

#modal {
    display: none;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;

    background-color: white;
    box-shadow: 0 0 10px grey;

    padding: 1rem;
    text-align: center;
}

#modal-close-div {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

#modal-close-button {
    background-color: white;
    border: none;
    cursor: pointer;
}
